In [26]:
import pandas as pd 

data=pd.read_csv('Data/housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [27]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [28]:
ratio = (data['total_rooms'] / data['total_bedrooms']).dropna().mean()
data['total_bedrooms'].fillna(data['total_rooms'] / ratio, inplace=True)
data.isnull().sum()

C:\Users\PMLS\AppData\Local\Temp\ipykernel_1784\1172000250.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['total_bedrooms'].fillna(data['total_rooms'] / ratio, inplace=True)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [29]:
data['housing_median_age']=(data['housing_median_age']-data['housing_median_age'].mean())/data['housing_median_age'].std(ddof=1)
data['total_rooms']=(data['total_rooms']-data['total_rooms'].mean())/data['total_rooms'].std(ddof=1)
data['total_bedrooms']=(data['total_bedrooms']-data['total_bedrooms'].mean())/data['total_bedrooms'].std(ddof=1)
data['population']=(data['population']-data['population'].mean())/data['population'].std(ddof=1)
data['households']=(data['households']-data['households'].mean())/data['households'].std(ddof=1)
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,0.982119,-0.804800,-0.971082,-0.974405,-0.977009,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,-0.607004,2.045841,1.350682,0.861418,1.669921,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,1.856137,-0.535733,-0.826120,-0.820757,-0.843616,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,1.856137,-0.624199,-0.719181,-0.766010,-0.733764,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,1.856137,-0.462393,-0.612242,-0.759828,-0.629142,3.8462,342200.0,NEAR BAY

In [ ]:

data['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [31]:
mapping = {
    '<1H OCEAN': 0,
    'INLAND': 1,
    'NEAR OCEAN': 2,
    'NEAR BAY': 3,
    'ISLAND': 4
}

data['ocean_proximity'] = data['ocean_proximity'].map(mapping)

In [32]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,0.982119,-0.804800,-0.971082,-0.974405,-0.977009,8.3252,452600.0,3
1,-122.22,37.86,-0.607004,2.045841,1.350682,0.861418,1.669921,8.3014,358500.0,3
2,-122.24,37.85,1.856137,-0.535733,-0.826120,-0.820757,-0.843616,7.2574,352100.0,3
3,-122.25,37.85,1.856137,-0.624199,-0.719181,-0.766010,-0.733764,5.6431,341300.0,3
4,-122.25,37.85,1.856137,-0.462393,-0.612242,-0.759828,-0.629142,3.8462,342200.0,3

In [33]:
data.to_csv("processed_data.csv", index=False)  # Save without index